<template>
    <div class="inbox">
      <div>
        <div class="first_div">
          <p>Сегодня <span style="color:gray; font-size: 11px">Вт. 18 авг</span></p>
          <div class="icons">
            <img class="nav-link__icon1" src="../assets/icons/chat.svg" alt="">
            <img class="nav-link__icon1" src="../assets/icons/more.svg" alt="">
          </div>
          
        </div>
    
        <TodoList
            v-bind:todos="todos"
            @remove-todo="removeTodo"
        />
        <AddTodo 
            @modal="show = $event"
            @add-todo="addTodo"
            v-if="show"
            :show="show"
         />
        <div class="d-flex dobav" @click="show=true"  v-if="!show">
            <img class="nav-link__icon2" src="../assets/icons/plus.svg" alt="">
            <p>Добавить задачу</p>
        </div>
      </div>
     
  </div>
  
</template>

<script>
import TodoList from '@/components/TodoList'
import AddTodo from '@/components/AddTodo'
export default {
    data() {
        return {
            todos: [
                
            ],
            show: false
        }
    },
    methods: {
        removeTodo(id){
            this.todos = this.todos.filter(todo => todo.id !== id)
        },
        addTodo(todo) {
            this.todos.push(todo)
        }
    },
    components: {
        TodoList,AddTodo
    }
}
</script>

<style>
    .closed{
        display: none;
    }
    .dobav p {
        font-size: 15px;padding: 3px;
    }
    .nav-link__icon2{
        width: 15px;
        height: 15px;
        margin: 6px 6px 3px 0px;
    }
    .inbox{
        display: flex;
        justify-content: center;
        width: 1000px;
    }
    .first_div{
        width: 750px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .first_div p{
        font-size: 19px;
        color:black;
        font-weight: bold;
        
    }
    .nav-link__icon1{
        margin: 0 7px 0 7px;
        width: 18px;
        margin-top: 4px;
    }

</style>