<template>
  <form class="addTodo"  @submit.prevent="onSubmit()">
      <div class="header-modal d-flex justify-content-between">
          <p><strong>Быстрое добавление задачи</strong></p>
          <a @click="closeModal"><i class="fas fa-times"></i></a>
      </div>
      <input class="addTodo-input" type="text" v-model="title" placeholder="напр., Урок португальского каждые 2 дня #учеба">
      <div class="addTodo-buttons">
          <button class="btn addTodo-button-submit" type="submit">Добавить задачу</button>
      </div>
      
  </form>
</template>

<script>
export default {
     props: {
        show: Boolean,
        openModal: Boolean
    },
    data() {
        
        return {
            title: '',
        }
        
    },
    methods: {
        closeModal() {
            this.$emit('modal', false)
        },
        onSubmit(){
            if(this.title.trim()){
                const newTodo = {
                    id: Date.now(),
                    title: this.title,
                }
                this.$emit('add-todo', newTodo)
                this.title = ''
            }
        }
    }
}
</script>

<style scoped>

.addTodo{
    position: fixed;
    z-index: 98;
    background-color: white;
    left:30%;
    top:20%;
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 25px 10px 25px;
}
.addTodo-input{
    height: 60px;
    border: 1px solid lightgray;
    cursor: pointer;
    outline: none;
    padding: 0 20px 0 15px;
    border-radius: 8px;
}
.addTodo-input::placeholder{
    color:lightgray
}
.addTodo-buttons{
    float: left;
    display: flex;
    margin: 5px 0 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.addTodo-buttons button{
    margin: 0 5px 0 0px;
    cursor: pointer;
}
.addTodo-button-submit{
    
    height: 35px;
    background: none;
    color:white;
    background-color: #db4c3f;
    outline: none;
}
.addTodo-button-cancel{
    margin-top: 8px;
    margin-left: 5px;
}
.fas{
    font-size: 18px;
    margin: 3px 5px 0 0;
}
</style>
