<template>
<div>
   <nav class="navbar navbar-expand-lg ">
  <div class="navbar">
    <ul class="navbar-nav d-flex justify-content-between">
        <div class="header_left">
            <li class="nav-item active">
              <a class="nav-link nav-link__icon" @click="openMenu" href="#"><img src="../assets/icons/open-menu.svg" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link__icon" href="#"><img src="../assets/icons/home.svg" alt=""></a>
            </li>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        
        <div class="header_right">
          <li class="nav-item">
            <a class="nav-link nav-link__icon" href="#" @click="openModal"><i class="fas fa-plus"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link__icon" href="#"><i class="fas fa-check-circle"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link__icon" href="#"><i class="fas fa-bell"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link__icon" href="#"><i class="fas fa-cog"></I></a>
          </li>
        </div>      
    </ul>
    
  </div>
  
</nav>
   
</div>
 
</template>

<script>

export default {
  components:{
    
  },
  data(){
    return{
     
    }
  },
  props: ['value'],
  methods: {
   openModal() {
     this.$emit('modal', true)
   },
   openMenu() {
     this.$emit('menu', true)
   }
  }
}
</script>

<style scoped>
  .modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color:rgba(0,0,0,0.3) ;
  }
  .navbar{
    background-color: #db4c3f;
    display: flex;
    align-items: center;
    height: 50px;
  }
  .nav-link img {
    width: 20px;
  }
  .nav-link__icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 5px 0 5px;
  }
  .fas{
    color:white;
  }
  .nav-link__icon:hover {
    background-color: rgba(236, 114, 114, 0.7);
  }
  .form-control{
    background-color: rgba(236, 114, 114, 0.7);
    color: white !important;
    border:none;
    height: 30px;
    width: 198px;
    font-weight: none;
  }
  .form-control::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  }
  .form-control:hover::placeholder {
  color: black;
  opacity: 1; /* Firefox */
  }
  .form-control:hover{
    background-color: white;
  }
  .header_right,.header_left{
    display:flex;
  }
  ul{
    width: 1300px;
  }
</style>