<template>
  <div>
      <ul>
          <TodoItem v-for="(todo,i) of todos"
                    v-bind:todo="todo" 
                    v-on:remove-todo="removeTodo"
                    v-bind:index="i"
                    :key="todo.id"
                    ></TodoItem>
      </ul>
  </div>
</template>

<script>
import TodoItem from '@/components/TodoItem'
export default {
    props: ['todos'],
    components: {
        TodoItem
    },
    methods: {
        removeTodo(id){
            this.$emit('remove-todo',id)
        }
    }
}
</script>

<style scoped> 
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
</style>