<template>
  <li>
      <span>
          <input class="checkbox_input" type="checkbox" v-on:change="todo.completed =false" v-on:click="$emit('remove-todo', todo.id)">
          <p>{{todo.title}}</p>
      </span>
  </li>
</template>

<script>
export default {
  props: {
      todo:{
          required: true
      },
      index: Number
  }
}
</script>

<style scoped>
    span{
        display: flex;
    }
    .checkbox_input{
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        outline: none;
        margin-right: 15px;
        cursor: pointer;
    }
   ul{
       list-style: none !important;
   }
   li{
       border-bottom: 1px solid lightgray;
       width: 100%;
       margin: 10px 0 0 0;
   }
</style>