<template>
  <div id="app">
    <headerComponent @menu="showMenu = $event" @modal="showModal = $event"></headerComponent>
    <div class="modal-overlay" v-if="showModal">
      <AddTodoModal @modal="showModal = $event" />
    </div>
    
    <div class="flex">
      <div class="flex1"> 
        <sidebarComponent></sidebarComponent>
      </div>
      <div class="flex2">
        <router-view/>
      </div>
    </div>
    
  </div>
</template>
<script>
import headerComponent from '@/components/headerComponent'
import sidebarComponent from '@/components/sidebarComponent'
import AddTodoModal from '@/components/AddTodoModal'
export default {
  props:[''],
  data(){
    return{
      showModal: false,
      showMenu: false
    }
  },
  components: {
      headerComponent,
      sidebarComponent,
      AddTodoModal
    }
}
</script>

<style>
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background-color:rgba(0,0,0,0.3) ;
}

.fade-enter-active,.fade-leave-active{
  transition: opacity 0.5s;

}

.fade-enter,.fade-leave-to{
  transition: opacity 0;
  
}

.flex1{
  width: 330px;
  display: flex;
  flex-direction: column;  
}

.flex2{
  width: 600px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.flex {
  display: flex;
  
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
